{# src/CoreBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<!-- Cette page est valide W3C -->
	<!-- Debut du head -->
	<head>
		<!-- Title de la page -->
		<title>{% block title %}{{NAME_SITE}} {% endblock %}</title>
			<link rel="shortcut icon" href="favicon.ico"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta content="text/html; charset={{META_ENCODAGE}}" http-equiv="Content-Type" />
			<meta content="{{META_LANGAGE}}" http-equiv="Content-language"/>
			<meta content="{{META_AUTHOR}}" name="author"/>
			<meta content="{{META_COPYRIGHT}}" name="copyright"/>
			<meta content="{{META_DESCRIPTION}}" name="description"/>
			<meta content="{{META_KEYWORDS}}" name="keywords"/>
			<meta content="never" name="Expires"/>
			<meta content="Tous public" name="rating"/>
			<meta content="{{META_SUBJECT}}" name="subject"/>
		{% stylesheets filter="cssrewrite"
			"bundles/core/css/bootstrap.min.css"
			"bundles/core/css/core.css"
			"bundles/core/css/components.css"
			"bundles/core/css/icons.css"
			"bundles/core/css/pages.css"
			"bundles/core/css/menu.css"
			"bundles/core/css/responsive.css"
		%}
			<link rel="stylesheet" href="{{ asset_url }}"/>
			{% endstylesheets %}
			{% javascripts
			"@CoreBundle/Resources/public/js/modernizr.min.js"
			%}
			<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
	</head>
	<body>
	{% block content %}
	{% endblock %}
	<script>
		var resizefunc = [];
	</script>
	<!-- jQuery  -->
	{% javascripts
		"@CoreBundle/Resources/public/js/jquery.min.js"
		"@CoreBundle/Resources/public/js/bootstrap.min.js"
		"@CoreBundle/Resources/public/js/detect.js"
		"@CoreBundle/Resources/public/js/fastclick.js"
		"@CoreBundle/Resources/public/js/jquery.slimscroll.js"
		"@CoreBundle/Resources/public/js/jquery.blockUI.js"
		"@CoreBundle/Resources/public/js/waves.js"
		"@CoreBundle/Resources/public/js/wow.min.js"
		"@CoreBundle/Resources/public/js/jquery.nicescroll.js"
		"@CoreBundle/Resources/public/js/jquery.scrollTo.min.js"
		"@CoreBundle/Resources/public/js/jquery.core.js"
		"@CoreBundle/Resources/public/js/jquery.app.js"
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	</body>
</html>